mlflow==2.13.0
astunparse==1.6.3
cloudpickle==3.0.0
colorama==0.4.6
dill==0.3.8
etils==1.6.0
google-cloud-aiplatform==0.6.0a1
google-cloud-artifact-registry==1.10.0
google-cloud-automl==1.0.1
google-cloud-bigtable==1.7.3
google-cloud-datastore==2.19.0
google-cloud-dlp==3.14.0
google-cloud-jupyter-config==0.0.5
google-cloud-language==2.13.3
google-cloud-monitoring==2.18.0
google-cloud-pubsublite==1.9.0
google-cloud-recommendations-ai==0.7.1
google-cloud-resource-manager==1.11.0
google-cloud-spanner==3.40.1
google-cloud-translate==3.12.1
google-cloud-videointelligence==2.13.3
google-cloud-vision==2.8.0
google-generativeai==0.5.1
importlib-resources==6.1.1
jax==0.4.23
jaxlib==0.4.23.dev20240116
lz4==4.3.3
matplotlib==3.7.5
numpy==1.26.4
nvidia-ml-py==11.495.46
onnx==1.16.0
packaging==21.3
pandas==2.2.2
protobuf==4.21.12
pydot==1.4.2
pynvml==11.4.1
pytorch-lightning==2.2.2
pyyaml==6.0.1
requests==2.31.0
rich==13.7.1
sentencepiece==0.2.0
torch==2.1.2
torchvision==0.16.2
transformers==4.39.3
zstandard==0.22.0